/* Web */

#content {
	width: 7in;
	float: left;
}

#nav {
	float: left;
	width: 2.25in;
	margin-right: .25in;
	word-wrap: break-word;
}

/* Font-sizes */

p, li, ul, .note-body { font-size: 17pt; line-height: 21pt; }
h2, h3 { font-size: 30pt;}
h4 { font-size: 17pt; line-height: 21pt;}


/* Defaults */

body {
	font-family: "Palatino Linotype";
}

p {
	text-indent: .25in;
	padding-bottom: 0;
	margin: 0 auto;
}

blockquote p {
	text-indent: 0;
}

blockquote p {
	margin-bottom: 10pt;
}

h2, h3 {
	font-family: "Electra LT Regular";
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

h4 {
	text-align: center;
	margin: 15pt auto 15pt;
	font-weight: bold;
}


.hr {
	text-align: center;
	font-size: 10pt;
	margin: 30pt 0;
}

hr {
	border: 0;
	height: 10px;
	background-image: url('/hr-3dots.png');
	background-size: 60px 5px;
	margin: 30pt auto;
	background-repeat: no-repeat;
	background-position: center;
}

.note-tags {
	margin: .25in 0 .5in;
	text-align: center;
}

.tag-description p {
	text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* hr {
    border: 0;
    height: 1px;
    width: 65%;
    margin: 30px auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-device-width: 480px) {

	body {
		font-size: 30pt;
	}

	h2 {
		font-size: 56pt;
		line-height: 76pt;
		margin-bottom: 20pt;
	}

	h3 {
		font-size: 30pt;
		margin: 20pt auto 12pt;
	}

	#page {
		padding: 10pt;
		width: auto;
	}

}