body {
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.entry {
	max-width: 600px;
	margin: auto;
	line-height: 150%;
}

.sig {
    padding-left: 50px;
}

.site-title {
	text-align: center;
	font-size: 27px;
}
.site-title a {
	color: black;
	font-weight: normal;
}
.page-title {
	font-size: 27px;
	text-align: center;
	font-weight: normal;
}
.site-title, .page-title {
	margin-bottom: 25px;
}

h1 {
	font-weight: bold;
	font-size: 24px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
}

hr {
	font-size: 12px;
	border: none;
	text-align: center;
}

hr:before {
	content: "\2666\00a0\00a0\00a0\00a0\00a0\2666\00a0\00a0\00a0\00a0\00a0\2666";
}